---
const services = [
  {
    step: '01',
    name: 'Napravite toliko dobru ponudu tako da se ljudi osjećaju glupo da kažu <span class="uppercase font-semibold">ne</span>',
    description:
      'Kreiranje ponude je najbitniji korak u kreiranju marketing kampanje. Sa dobrom ponudom, nećete se morati natjecati na tržištu. Klijenti će vas više cijeniti iako naplaćujete više od ostalih.',
  },
  {
    step: '02',
    name: 'Marketing koji donosi <span class="uppercase font-semibold">samo</span> profit',
    description:
      'Smanjen trošak dovođenja novih članova je tajna našeg neograničenog rasta. Nakon reklama, svaki novi član vraća novac potrošen na reklamu.  Međutim većina teretana stane sa ovim sistemom samo kada dođe do “uskog grla” u drugim procesima (pružanje usluga, manjak kapaciteta…)',
  },
  {
    step: '03',
    name: 'Prodajni sistem koji zapravo <span class="uppercase font-semibold">radi</span>',
    description:
      ' Kreiranjem prodajnog sistema u kojem ste vi i vaši zaposlenici prikazani kao eksperti, moći ćete riješiti sve prepreke koje vaši članovi imaju. Da bi vaša teretana ne samo opstala, već i napredovala, vi i vaše osoblje morate imati efikasne prodajne tehnike.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
        Principi Profitabilne Teretane
      </h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="flex flex-col gap-12 rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium" set:html={service.name} />
                <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
